<div class="alert alert-block custom-box-shadow">
    <input type='hidden' name='contact[contact_ids][]' value='<%= contact.id %>'>
    <button type="button" class="close" data-dismiss="alert"></button>
    <div class="clearfix">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="javascript:;">
                    <img class="media-object" src="/backend/assets/pages/media/users/avatar80_3.jpg" style="width: 85px; height: 85px;"> </a>
                <div class="media-body">
                    <div class="sm-title"><a href="#"><strong><%= contact.name %></strong></a></div>
                    <div class="sm-title">Sale Admin</div>
                    <div class="sm-title">hungnt@hoangkhang.com</div>
                    <div class="sm-title">Phone: 0963238714</div>
                    <div class="sm-title">Mobile: 0938318714</div>
                </div>
            </li>
        </ul>
    </div>
</div>