<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-pencil-square-o font-green"></i>
            <span class="caption-subject bold font-green uppercase">Edit tag</span>
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-circle btn-outline green">
                <i class="fa fa-pencil"></i> Edit </a>
            <a href="javascript:;" class="btn btn-circle blue-steel btn-outline">
                <i class="fa fa-plus"></i> Add </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <%= render 'form', tag: @tag %>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->