<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-pencil-square-o font-green"></i>
            <span class="caption-subject bold font-green uppercase"><%= t('contacts.tag.create')%></span>
        </div>
        <div class="actions">
            <%= link_to "<i class=\"fa fa-list-ul\"></i> #{t('contacts.tag.listing_tags')}".html_safe, erp_contacts.backend_tags_path, class: "btn btn-circle btn-outline green" %>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <%= render 'form', tag: @tag %>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->