<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('contacts.title.create'),
        href: erp_contacts.new_backend_title_path,
        class: 'btn-sm'
    }) %>
<% end %>

<% content_for :title do %>
    Create title
<% end %>

<% content_for :page_title do %>    
    <a href=""><i class="fa fa-bookmark-o"></i> Titles</a> /
    Edit: <%= @title.display_title %>
<% end %>

<div class="row">
    <div class="col-md-6">
        <% if @title.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <%= render 'form', title: @title %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>