<% content_for :title do %>
    Titles
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-bookmark-o"></i> Titles
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <%= link_to '<i class="fa fa-plus"></i> Create title'.html_safe, erp_contacts.new_backend_title_path, class: "btn btn-sm sbold btn-primary" %>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_contacts.list_backend_titles_path,
    actions: [
        {
            text: '<i class="fa fa-check"></i> Archive', url: 'javascript:;'
        },
        {
            text: '<i class="fa fa-exclamation"></i> Unarchive', url: 'javascript:;'
        },
        {
            divider: true
        },
        {
            text: '<i class="fa fa-trash"></i> Delete', url: 'javascript:;'
        }
    ],
    filters: [
        {
            text: 'Persons', name: 'is_person', value: true, checked: true
        },
        {
            text: 'Companies', name: 'is_company', value: true, checked: true
        },
        {
            divider: true
        },
        {
            text: 'Customers', name: 'is_customer', value: true
        },
        {
            text: 'Vendors', name: 'is_vendor', value: true, checked: true
        },
        {
            divider: true
        },
        {
            text: 'Archived', name: 'is_archived', value: true, checked: true
        }
    ],
    columns: [
        {
            text: 'Name', name: 'name', value: true, checked: true
        },
        {
            text: 'Abbreviation', name: 'abbreviation', value: true, checked: true
        },
        {
            text: 'Created at', name: 'created_at', value: true, checked: true
        },
        {
            text: 'Updated at', name: 'updated_at', value: true, checked: true
        },
        {
            text: 'Creator', name: 'creator', value: true, checked: true
        }
    ]    
) %>
    
    
<%= erp_datalist(
    url: erp_contacts.list_backend_titles_path,
    actions: [
        {
            text: '<i class="fa fa-check"></i> Archive', url: 'javascript:;'
        },
        {
            text: '<i class="fa fa-exclamation"></i> Unarchive', url: 'javascript:;'
        },
        {
            divider: true
        },
        {
            text: '<i class="fa fa-trash"></i> Delete', url: 'javascript:;'
        }
    ],
    filters: [
        {
            text: 'Persons', name: 'is_person', value: true, checked: true
        },
        {
            text: 'Companies', name: 'is_company', value: true, checked: true
        },
        {
            divider: true
        },
        {
            text: 'Customers', name: 'is_customer', value: true
        },
        {
            text: 'Vendors', name: 'is_vendor', value: true, checked: true
        },
        {
            divider: true
        },
        {
            text: 'Archived', name: 'is_archived', value: true, checked: true
        }
    ],
    columns: [
        {
            text: 'Name', name: 'name', value: true, checked: true
        },
        {
            text: 'Abbreviation', name: 'abbreviation', value: true, checked: true
        },
        {
            text: 'Created at', name: 'created_at', value: true, checked: true
        },
        {
            text: 'Updated at', name: 'updated_at', value: true, checked: true
        },
        {
            text: 'Creator', name: 'creator', value: true, checked: true
        }
    ]    
) %>