<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <span class="caption-subject bold uppercase"> Input Groups & Icons</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                <i class="icon-cloud-upload"></i>
            </a>
            <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                <i class="icon-wrench"></i>
            </a>
            <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                <i class="icon-trash"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input has-success">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Left icon">
                                <label for="form_control_1">Regular input</label>
                                <span class="help-block">Some help goes here...</span>
                                <i class="fa fa-bell-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input has-warning">
                            <input type="text" class="form-control" id="form_control_1" placeholder="Warning state">
                            <label for="form_control_1">Warning input</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input has-error">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <label for="form_control_1">Input Group</label>
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input has-success">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Left icon">
                                <label for="form_control_1">Regular input</label>
                                <span class="help-block">Some help goes here...</span>
                                <i class="fa fa-bell-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input has-error">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <span class="help-block">Some help goes here...</span>
                                <label for="form_control_1">Input Group1</label>
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input has-error">
                            <div class="input-group">
                                <div class="input-group-control">
                                    <input type="text" class="form-control" placeholder="Placeholder">
                                    <label for="form_control_1">Input Group</label>
                                </div>
                                <span class="input-group-btn btn-right">
                                    <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Action
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="javascript:;">Action</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Another action</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Something else here</a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;">Separated link</a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-line-input has-success">
                    <div class="input-icon right">
                        <input type="text" class="form-control" placeholder="Right icon">
                        <label for="form_control_1">Input With Hint</label>
                        <span class="help-block">Some help goes here...</span>
                        <i class="icon-user"></i>
                    </div>
                </div>
                <div class="form-group form-md-line-input has-info">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Email Address">
                        <label for="form_control_1">Input Group</label>
                    </div>
                </div>
                <div class="form-group form-md-line-input has-error">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <label for="form_control_1">Input Group</label>
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group form-md-line-input has-warning">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control">
                        <span class="help-block">Some help goes here...</span>
                        <span class="input-group-addon">.00</span>
                        <label for="form_control_1">Input Group</label>
                    </div>
                </div>
                <div class="form-group form-md-line-input has-warning">
                    <div class="input-group">
                        <span class="input-group-btn btn-left">
                            <button class="btn blue-madison" type="button">Go!</button>
                        </span>
                        <div class="input-group-control">
                            <input type="text" class="form-control edited" placeholder="Placeholder">
                            <label for="form_control_1">Input Group</label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-line-input has-error">
                    <div class="input-group">
                        <div class="input-group-control">
                            <input type="text" class="form-control" placeholder="Placeholder">
                            <label for="form_control_1">Input Group</label>
                        </div>
                        <span class="input-group-btn btn-right">
                            <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Action
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:;">Action</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Another action</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Something else here</a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="javascript:;">Separated link</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="form-group form-md-line-input has-info">
                    <div class="input-group">
                        <span class="input-group-btn btn-left">
                            <button class="btn red-intense" type="button">Go!</button>
                        </span>
                        <div class="input-group-control">
                            <input type="text" class="form-control" placeholder="Input group">
                            <span class="help-block">Some help goes here...</span>
                            <label for="form_control_1">Input Group</label>
                        </div>
                        <span class="input-group-btn btn-right">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Action
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:;">Action</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Another action</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Something else here</a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="javascript:;">Separated link</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="form-group form-md-line-input has-info">
                    <div class="input-group input-group-sm">
                        <span class="input-group-btn btn-left">
                            <button class="btn red-intense" type="button">Go!</button>
                        </span>
                        <div class="input-group-control">
                            <input type="text" class="form-control input-sm" placeholder=".input-sm">
                            <label for="form_control_1">Small Input Group</label>
                        </div>
                        <span class="input-group-btn btn-right">
                            <button class="btn green-haze" type="button">Go!</button>
                        </span>
                    </div>
                </div>
                <div class="form-group form-md-line-input has-info">
                    <div class="input-group input-group-lg">
                        <span class="input-group-btn btn-left">
                            <button class="btn red-intense" type="button">Go!</button>
                        </span>
                        <div class="input-group-control">
                            <input type="text" class="form-control input-lg" placeholder=".input-lg">
                            <label for="form_control_1">Large Input Group</label>
                        </div>
                        <span class="input-group-btn btn-right">
                            <button class="btn green-haze" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-actions noborder">
                <button type="button" class="btn blue">Submit</button>
                <button type="button" class="btn default">Cancel</button>
            </div>
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
    