<% content_for :title do %>
    Create title
<% end %>

<% content_for :page_title do %>    
    <a href=""><i class="fa fa-bookmark-o"></i> Titles</a> /
    New
<% end %>

<div class="row">
    <div class="col-md-6">        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <%= render 'form', title: @title %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>