<form role="form">
    <div class="form-body">
        <div class="form-group form-md-line-input">
            <input type="text" class="form-control input-lg" id="form_control_1" placeholder="Name">
            <span class="help-block">Some help goes here...</span>
        </div>
    </div>
    <div class="form-actions noborder">
        <%= button_tag "#{t(:submit)} <i class=\"fa fa-save\"></i>".html_safe, class: "btn blue"%>
        <%= link_to '<i class="fa fa-times"></i> Cancel'.html_safe, erp_contacts.backend_contacts_path, class: "btn red" %>
    </div>
</form>