<%= form_for([erp_contacts, :backend, contact], html: {class: "form-horizontal"}) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-md-radios">
                    <label class="col-md-2 control-label" for="title_title">Type</label>
                    <div class="col-md-10">
                        <div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" id="radio6" name="radio2" class="md-radiobtn">
                                <label for="radio6">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Person </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" id="radio7" name="radio2" class="md-radiobtn" checked>
                                <label for="radio7">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Company </label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <%= erp_form_control("text", {
                    name: 'name',
                    value: '',                   
                    label: 'Name',
                    help: 'This field is required...',
                    placeholder: 'Enter full name...'
                }) %>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="mt-overlay-custom mt-overlay-4 mt-overlay-4-icons fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 150px; height: 110px;">
                                        <img src="/backend/assets/global/img/text-no-image.png" alt="" /> </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 150px; height: 110px;"> </div>
                                    <ul class="mt-info">
                                        <li>
                                            <span class="btn-outline btn-file">
                                            <span class="btn default green fileinput-new"> <i class="icon-link"></i></span>
                                            <span class="btn default green fileinput-exists"> <i class="fa fa-pencil-square-o"></i> </span>
                                            <input type="file" name="...">
                                            </span>
                                        </li>
                                        <li>
                                            <span class="btn-outline btn-file">
                                            <span class="btn default green fileinput-exists" data-dismiss="fileinput"> <i class="fa fa-remove"></i> </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="form_control_1">Company</label>
                    <div class="col-md-10">
                        <select class="form-control" id="form_control_1">
                            <option></option>
                            <optgroup label="Pacific Time Zone">
                                <option value="CA">California</option>
                                <option value="NV">Nevada</option>
                                <option value="OR">Oregon</option>
                                <option value="WA">Washington</option>
                            </optgroup>
                        </select>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="control-label col-md-2">Birthday</label>
                    <div class="col-md-10">
                        <input class="form-control form-control-inline date-picker" size="16" type="text" value="" />
                        <span class="help-block"> Select date </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title">Address</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="Enter address 1...">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title">Title</label>
                    <div class="col-md-10">
                        <select class="form-control" id="form_control_1">
                            <option value=""></option>
                            <option value="">Mr</option>
                            <option value="">Ms</option>
                            <option value="">Mrs</option>
                            <option value="">Sir</option>
                        </select>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title"></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="Enter address 2...">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title">Job Position</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="E.g. Sales Director">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title"></label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="Enter city...">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="form_control_1">
                            <option value=""></option>
                            <option value="">California</option>
                        </select>
                        <div class="form-control-focus"> </div>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="Zip code...">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title">Phone</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="Enter phone number...">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title"></label>
                    <div class="col-md-10">
                        <select class="form-control" id="form_control_1">
                            <option value=""></option>
                            <option value="">Vietnam</option>
                            <option value="">Thailand</option>
                            <option value="">Laos</option>
                            <option value="">Cambodia</option>
                        </select>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title">Mobile</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="Enter mobile number...">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title">Website</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="Ex: https://www.globalnaturesoft.com">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title">Fax</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="Enter fax...">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="control-label col-md-2">Tags</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="" data-role="tagsinput">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="title_title">Email</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="contact[name]" name="contact[name]" value="" placeholder="Enter email...">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">This field is required...</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- TAB -->
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_0" data-toggle="tab"> Contacts & Addresses </a>
                        </li>
                        <li>
                            <a href="#tab_1" data-toggle="tab"> Internal Note </a>
                        </li>
                        <li>
                            <a href="#tab_2" data-toggle="tab"> Sales & Purchases </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                             <a href="javascript:;" class="btn btn-xs blue"> Create <i class="icon-plus"> </i></a>
                        </div>
                        <div class="tab-pane" id="tab_1">
                            <div class="form-group form-md-line-input has-success">
                                <div class="col-md-12">
                                    <textarea class="form-control" rows="2" placeholder="Enter more text"></textarea>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="caption font-sunglo">
                                        <i class="fa fa-line-chart font-sunglo"></i>
                                        <span class="caption-subject bold uppercase"> Sale</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="caption font-sunglo">
                                        <i class="fa fa-opencart font-sunglo"></i>
                                        <span class="caption-subject bold uppercase"> Purchase</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">Is a Customer</label>
                                        <div class="col-md-9 md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox6" class="md-check">
                                                <label for="checkbox6">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">Is a Vendor</label>
                                        <div class="col-md-9 md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox7" class="md-check">
                                                <label for="checkbox7">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label" for="form_control_1">Salesperson</label>
                                        <div class="col-md-9">
                                            <select class="form-control" id="form_control_1">
                                                <option value=""></option>
                                                <option value="">Option 1</option>
                                                <option value="">Option 2</option>
                                                <option value="">Option 3</option>
                                                <option value="">Option 4</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="caption font-sunglo">
                                        <span class="caption-subject bold uppercase"> Misc</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">Internal Reference</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<% end %>
