<form role="form" class="form-horizontal">
    <div class="form-body">
        <div class="form-group form-md-line-input">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="md-radio-inline">
                            <div class="md-radio has-error">
                                <input type="radio" id="radio54" name="radio2" class="md-radiobtn" checked>
                                <label for="radio54">
                                    <span></span><span class="check"></span><span class="box"></span> Individual
                                </label>
                            </div>
                            <div class="md-radio has-warning">
                                <input type="radio" id="radio55" name="radio2" class="md-radiobtn">
                                <label for="radio55">
                                    <span></span><span class="check"></span><span class="box"></span> Company
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control input-lg" id="form_control_1" placeholder="Name">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Name is required...</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <select class="form-control" id="form_control_1">
                            <option value=""></option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                            <option value="">Option 3</option>
                            <option value="">Option 4</option>
                        </select>
                        <div class="form-control-focus"></div>
                    </div>
                </div>
                <div class="clearfix margin-bottom-10"></div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <div class="form-group last">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                            <%= image_tag "/backend/assets/layouts/layout/img/backend-no-img.png", alt: "no-img" %>
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                        <div>
                            <span class="btn default btn-file">
                                <span class="fileinput-new"> Select image </span>
                                <span class="fileinput-exists"> Change </span>
                                <input type="file" name="..."> </span>
                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input">
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Address</strong></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1" placeholder="Street....">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Input here....</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Job</strong></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1" placeholder="e.g. Sales Director">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Input here....</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input">
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1" placeholder="Street 2....">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Input here....</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Phone</strong></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Input here....</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input">
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"></label>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="form_control_1" placeholder="City">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Input here....</span>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control" id="form_control_1">
                                    <option value="">State</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"></div>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="form_control_1" placeholder="ZIP">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Input here....</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Mobile</strong></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Input here....</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input">
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"></label>
                    <div class="col-md-10">
                        <select class="form-control" id="form_control_1">
                            <option value="">Country</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                            <option value="">Option 3</option>
                            <option value="">Option 4</option>
                        </select>
                        <div class="form-control-focus"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Fax</strong></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Input here....</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input">
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Website</strong></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1" placeholder="e.g www.globalnaturesoft.com">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Input here....</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Email</strong></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Input here....</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input">
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Tags</strong></label>
                    <div class="col-md-10">
                        <select class="form-control" id="form_control_1">
                            <option value="">Tags....</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                            <option value="">Option 3</option>
                            <option value="">Option 4</option>
                        </select>
                        <div class="form-control-focus"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Title</strong></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Input here....</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <label class="col-md-2 control-label" for="form_control_1"><strong>Language</strong></label>
                    <div class="col-md-10">
                        <select class="form-control" id="form_control_1">
                            <option value="">English</option>
                            <option value="">Vietnamese</option>
                            <option value="">Japanese</option>
                        </select>
                        <div class="form-control-focus"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN TAB PORTLET-->
        <div class="tabbable tabbable-tabdrop">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#tab1" data-toggle="tab">CONTACTS & ADDRESSES</a>
                </li>
                <li>
                    <a href="#tab2" data-toggle="tab">INTERNAL NOTES</a>
                </li>
                <li>
                    <a href="#tab3" data-toggle="tab">SALES & PURCHASES</a>
                </li>
                <li>
                    <a href="#tab4" data-toggle="tab">ACCOUNTING</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <p> I'm in Section 1. </p>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="form-group form-md-line-input has-success">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="3" placeholder="Internal note...."></textarea>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <p> Howdy, I'm in Section 3. </p>
                </div>
                <div class="tab-pane" id="tab4">
                    <p> Howdy, I'm in Section 4. </p>
                </div>
            </div>
        </div>
        <!-- END TAB PORTLET-->
    </div>
    <div class="form-actions noborder">
        <%= button_tag "#{t(:submit)} <i class=\"fa fa-save\"></i>".html_safe, class: "btn blue"%>
        <%= link_to '<i class="fa fa-times"></i> Cancel'.html_safe, erp_contacts.backend_contacts_path, class: "btn red" %>
    </div>
</form>