<% content_for :title do %>
    Create contact
<% end %>

<% content_for :page_title do %>    
    <a href=""><i class="fa fa-users"></i> Contacts</a> /
    Create new
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
            <button type="submit" class="btn btn-sm sbold blue"><i class="fa fa-check"></i> <%= t('save') %></button>
            <%= link_to "<i class=\"fa fa-times\"></i>  #{t('discard')}".html_safe, erp_contacts.backend_contacts_path, class: "btn btn-sm sbold red" %>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-6">
        <h3>
            <span aria-hidden="true" class="icon-user-follow"></span> Contact details
        </h3>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <%= render 'form', contact: @contact %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
    <div class="col-md-6">
        <h3>
            &nbsp;
        </h3>
        <div class="tabbable-custom ">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#tab_5_1" data-toggle="tab"> Contacts & Address </a>
                </li>
                <li>
                    <a href="#tab_5_2" data-toggle="tab"> Sales & Purchases </a>
                </li>
                <li>
                    <a href="#tab_5_3" data-toggle="tab"> Internal notes </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_5_1">
                    <h3 class="text-semibold"> Address 1 </h3>
                    <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                </div>
                <div class="tab-pane" id="tab_5_2">
                    <p> Howdy, I'm in Section 2. </p>
                    <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                        consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. </p>
                    <p>
                        <a class="btn green" href="ui_tabs_accordions_navs.html#tab_5_2" target="_blank"> Activate this tab via URL </a>
                    </p>
                </div>
                <div class="tab-pane" id="tab_5_3">
                    <p> Howdy, I'm in Section 3. </p>
                    <p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel
                        eum iriure dolor in hendrerit in vulputate velit esse molestie consequat </p>
                    <p>
                        <a class="btn yellow" href="ui_tabs_accordions_navs.html#tab_5_3" target="_blank"> Activate this tab via URL </a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <h3>
            <span aria-hidden="true" class="fa fa-sticky-note-o"></span> Internal notes
        </h3>
        <div class="tabbable-custom ">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_5_1">
                    <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                </div>                
            </div>
        </div>
        
    </div>
</div>