<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
            <button type="submit" class="btn btn-sm sbold blue"><%= t('save') %> <i class="fa fa-save"></i></button>
            <%= link_to "<i class=\"fa fa-times\"></i>  #{t('discard')}".html_safe, erp_contacts.backend_contacts_path, class: "btn btn-sm sbold red" %>
        </div>
    </div>
<% end %>
<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <i class="icon-pin font-green-haze"></i>
            <span class="caption-subject bold uppercase"> New Contact</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <%= render 'form', contact: @contact %>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->