<% content_for :title do %>
    Create contact
<% end %>

<% content_for :page_title do %>    
    <a href=""><i class="fa fa-users"></i> Contacts</a> /
    Create new
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-12">
        <h3>
            <span aria-hidden="true" class="icon-user-follow"></span> Contact details
        </h3>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <%= render 'form', contact: @contact %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>